@import "https://fonts.googleapis.com/css?family=Be Vietnam"; 
.loader{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 20010;
  padding: 0px;
  transition: opacity 2000ms ease 2000ms;
  opacity: 100;
  pointer-events: auto;
  display: block;
  background-image: url("../public/assets/img/background.png");
  background-size: cover;
}
.loader_product{
  // position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 20010;
  padding: 0px;
  transition: opacity 2000ms ease 2000ms;
  opacity: 100;
  pointer-events: auto;
  display: block;
  // background-image: url("../public/assets/img/background.png");
  background-size: cover;
}

.logo {
  position:absolute;
  top: calc(41% - 24px);
  left: calc(50% - 40px);
  z-index: 20000;
}
.brand {
  position: absolute;
  top: calc(82% - 30px);
  left: calc(50% - 80px);
  z-index: 20000;
}
.enter_text {
  position:absolute;
  top:calc(58% + 30px);
  left:0;
  width: 100%;
  text-align: center;
  color : white;
  font-size: 32px;
  font-weight: bold;
  font-family: 'Be Vietnam', Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;  
}
.loader_text{
  position:absolute;
  top:calc(65% + 50px);
  left:0;
  width: 100%;
  text-align: center;
  color : white;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Be Vietnam', Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;  
}
.loader_spinner{
  position: absolute;
  top: calc(37% - 40px);
  left: calc(50% - 90px);;
  width: 200px;
  height: 200px;
  line-height: 72px;
  text-align: center;
  font-weight: bold;
  transition: opacity 2000ms ease 0s;
  opacity: 100;
  -webkit-animation: "cwSpin 1s linear .2s infinite";
  -moz-animation: "cwSpin .666s linear .2s infinite";
  -o-animation: "cwSpin .666s linear .2s infinite";
  -ms-animation: "cwSpin .666s linear .2s infinite";
  animation: "cwSpin .666s linear .2s infinite";
}

.loader_ring1{
  position: absolute;
  transform: rotate(45deg);
  inset: 0px;
  border-style: solid;
  border-width: 6px;
  border-radius: 80%;
  border-color: #00DCC3 transparent transparent;
  
  -webkit-animation: ring1 2.8s linear .4s infinite;
  -moz-animation: ring1 2.8s linear .4s infinite;
  -o-animation: ring1 2.8s linear .4s infinite;
  -ms-animation: ring1 2.8s linear .4s infinite;
  animation: ring1 2.8s linear .4s infinite;
}

.loader_ring2{
  position: absolute;
  transform: rotate(45deg);
  inset: 0px;
  border-style: solid;
  border-width: 6px;
  border-radius: 80%;
  border-color: #00DCC3 transparent transparent;
  animation-duration: 2.8s;
  
  -webkit-animation: ring2 2.8s cubic-bezier(0.51, 0.06, 0.48, 0.93) .0s infinite;
  -moz-animation: ring2 2.8s cubic-bezier(0.51, 0.06, 0.48, 0.93) .0s infinite;
  -o-animation: ring2 2.8s cubic-bezier(0.51, 0.06, 0.48, 0.93) .0s infinite;
  -ms-animation: ring2 2.8s cubic-bezier(0.51, 0.06, 0.48, 0.93) .0s infinite;
  animation: ring2 2.8s cubic-bezier(0.51, 0.06, 0.48, 0.93) .0s infinite;
}

.loader_ring3{
  position: absolute;
  transform: rotate(60deg);
  inset: 0px;
  border-style: solid;
  border-width: 6px;
  border-radius: 80%;
  border-color: #00DCC3 transparent transparent;
  
  -webkit-animation: ring3 2.8s cubic-bezier(0.51, 0.06, 0.48, 0.93) .4s infinite;
  -moz-animation: ring3 2.8s cubic-bezier(0.51, 0.06, 0.48, 0.93) .4s infinite;
  -o-animation: ring3 2.8s cubic-bezier(0.51, 0.06, 0.48, 0.93) .4s infinite;
  -ms-animation: ring3 2.8s cubic-bezier(0.51, 0.06, 0.48, 0.93) .4s infinite;
  animation: ring3 2.8s cubic-bezier(0.51, 0.06, 0.48, 0.93) .4s infinite;  
}

@-webkit-keyframes ring1
{
	0%{-webkit-transform:rotate(0deg);	}
	100%{-webkit-transform:rotate(360deg); }
}

@-moz-keyframes ring1
{
	0%{-moz-transform:rotate(0deg);	}
	100%{-moz-transform:rotate(360deg); }
}

@-o-keyframes ring1
{
	0%{-o-transform:rotate(0deg);	}
	100%{-o-transform:rotate(360deg); }
}

@keyframes ring1
{
	0%{transform:rotate(0deg);	}
	100%{transform:rotate(360deg); }
}

@-webkit-keyframes ring2
{
	0%{-webkit-transform:rotate(0deg);	}
	100%{-webkit-transform:rotate(360deg); }
}

@-moz-keyframes ring2
{
	0%{-moz-transform:rotate(0deg);	}
	100%{-moz-transform:rotate(360deg); }
}

@-o-keyframes ring2
{
	0%{-o-transform:rotate(0deg);	}
	100%{-o-transform:rotate(360deg); }
}

@keyframes ring2
{
	0%{transform:rotate(0deg);	}
	100%{transform:rotate(360deg); }
}

@-webkit-keyframes ring3
{
	0%{-webkit-transform:rotate(0deg);	}
	100%{-webkit-transform:rotate(360deg); }
}

@-moz-keyframes ring3
{
	0%{-moz-transform:rotate(0deg);	}
	100%{-moz-transform:rotate(360deg); }
}

@-o-keyframes ring3
{
	0%{-o-transform:rotate(0deg);	}
	100%{-o-transform:rotate(360deg); }
}

@keyframes ring3
{
	0%{transform:rotate(0deg);	}
	100%{transform:rotate(360deg); }
}